		<div class="footer">
			<div class="blueHeader">
				<div class="pageWidth">
					<div class="toTop" onclick="window.scrollTo(0,0)">Врх стране &uarr;</div>
				</div>
			</div>
			<div class="content">
				<div class="pageWidth">
					<div class="grb">
						<img src="https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/grbSrbije.svg" width="60">
					</div>
					<div class="info">
						<div class="title">portal.poslovigrada.rs</div>
						<div class="subtitle">Портал Послови Града за рад са ВиК налозима</div>
						<div class="note" id="footer-note">Проблеме за рад са порталом можете пријавити на <a href="mailto:admin@poslovigrada.rs">admin@poslovigrada.rs</a> | <a href="tel:+381653592571">065/3592-571</a>. Приликом пријаве проблема покушајте да будете што више дескриптивни (слике и видео снимци ће помоћи да се проблем што пре отклони.</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>