<!DOCTYPE html>
<html lang="rs">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>ВиК Портал Послова Града</title>

		<!-- Bootstrap -->
		<link href="/css/style.css?<%= new Date().getTime();%>" rel="stylesheet">
		<link rel="icon" type="image/x-icon" href="/favicon.png">
		<link rel="apple-touch-icon" href="/favicon.png">
		<meta property="og:title" content="ВиК Портал Послова Града" />
		<meta property="og:type" content="application" />
		<meta property="og:url" content="https://poslovigrada.azurewebsites.net" />
		<meta property="og:image" content="https://poslovigrada.azurewebsites.net/images/ogImage.png" />
		<meta property="og:description" content="ВиК Портал Послова Града" />
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		  <script src="/js/helperFunctions.js"></script>
		  <script src="/js/socket.js"></script>
		  <script>var socket  = io({});</script>
	</head>
	<body>
		<div id="load-lightbox" class="lightbox">
			<div class="lightboxContent">
				<img src="https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/loadGif.gif">
			</div>
		</div>
		<div id="image-lightbox" class="imageLightbox" onclick="this.style.display='none'">
			<div class="lightboxContent">
				<img class="image" onclick="event.stopPropagation()"> 
			</div>
			<div class="arrow arrowLeft" onclick="event.stopPropagation()">
				<img src="https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/arrowLeft.png" onclick="showPreviousImage()">
			</div>
			<div class="arrow arrowRight" onclick="event.stopPropagation()">
				<img src="https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/arrowRight.png" onclick="showNextImage()">
			</div>
			<div class="downloadButtonWrap" onclick="event.stopPropagation()">
				<a id="download-button" href="" download="">SAČUVAJ SLIKU</a>
			</div>
		</div>
		<script>
			

			function previewImage(elem,name){
				
				var url = elem.getElementsByTagName("IMG")[0].src;
				document.getElementById("image-lightbox").style.display="block";
				document.getElementById("image-lightbox").getElementsByClassName("image")[0].src = url;
				document.getElementById("image-lightbox").getElementsByTagName("A")[0].href = url;
				document.getElementById("image-lightbox").getElementsByTagName("A")[0].setAttribute("download","nalog")//name+"."+url.split(".")[url.split(".").length-1];
			}
			function showNextImage(){
				var imageUrl = document.getElementById("image-lightbox").getElementsByClassName("image")[0].src;
				var availableImages = document.getElementById("komentari").getElementsByClassName("imagePreview");
				for(var i=0;i<availableImages.length;i++){
					if(availableImages[i].getElementsByClassName("image")[0].src==imageUrl){
						if(availableImages[i+1]){
							previewImage(availableImages[i+1])
							document.getElementById("image-lightbox").getElementsByClassName("arrowLeft")[0].style.opacity="1"
							if(i+1==availableImages.length-1){
								document.getElementById("image-lightbox").getElementsByClassName("arrowRight")[0].style.opacity="0"	
							}
						}else{
							//Nema vise slika u tu stranu
						}
					}
				}
			}

			function showPreviousImage(){
				var imageUrl = document.getElementById("image-lightbox").getElementsByClassName("image")[0].src;
				var availableImages = document.getElementById("komentari").getElementsByClassName("imagePreview");
				for(var i=0;i<availableImages.length;i++){
					if(availableImages[i].getElementsByClassName("image")[0].src==imageUrl){
						if(availableImages[i-1]){
							previewImage(availableImages[i-1]);
							document.getElementById("image-lightbox").getElementsByClassName("arrowRight")[0].style.opacity="1";
							if(i-1==0){
								document.getElementById("image-lightbox").getElementsByClassName("arrowLeft")[0].style.opacity="0"	
							}
						}else{
							//Nema vise slika u tu stranu
						}
					}
				}
			}

			window.addEventListener('keydown', function(event) {
				if (event.keyCode == 27) {
					if(document.getElementById("image-lightbox").style.display=="block"){
						document.getElementById("image-lightbox").style.display = "none";
					}
				}

				if(document.getElementById("image-lightbox").style.display=="block"){
					if(event.keyCode==39){
						showNextImage();
					}else if(event.keyCode==37){
						showPreviousImage();
					}
				}
				
			});

			socket.on("notification",function(type,htmlString,condition){
				var currentNotificationElems = document.getElementById("notifications").getElementsByClassName("notification");
				var notificationExists = false;
				for(var i=0;i<currentNotificationElems.length;i++){
					if(currentNotificationElems[i].getElementsByClassName("contents")[0].innerHTML == htmlString){
						notificationExists = true;
					}
				}
				if(!notificationExists){
					if(type=="noviNalog"){
						if(user.opstine instanceof Array){
							if(user.opstine.indexOf(condition)>=0){
								var notificationElem = document.createElement("DIV");
								notificationElem.setAttribute("class","notification");
									var contents = document.createElement("DIV");
									contents.setAttribute("class","contents");
									contents.innerHTML = htmlString;
									notificationElem.appendChild(contents);

									var close = document.createElement("DIV");
									close.setAttribute("class","close");
									close.setAttribute("onclick","this.parentElement.style.display=\"none\"");
									close.innerHTML = "<img src=\"https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/nevalidiranIcon.png\">";
									notificationElem.appendChild(close);

									var ai = document.createElement("DIV");
									ai.setAttribute("class","aiSuggestion");
									ai.innerHTML = "<div class=\"sug\"><img src=\"https://www.aidispatcher.net/favicon.png\"><span class=\"tooltip\"><b>Best technician choice:</b> Dalibor Tripkovic<br><b>Reasoning:</b><br>Close by, well equiped</div>";

									notificationElem.appendChild(ai);
								document.getElementById("notifications").appendChild(notificationElem);
							}	
						}
					}else if(type=="noviKomentar"){
						if(user.opstine instanceof Array){
							if(user.opstine.indexOf(condition)>=0){
								var notificationElem = document.createElement("DIV");
								notificationElem.setAttribute("class","notification");
									var contents = document.createElement("DIV");
									contents.setAttribute("class","contents");
									contents.innerHTML = htmlString;
									notificationElem.appendChild(contents);

									var close = document.createElement("DIV");
									close.setAttribute("class","close");
									close.setAttribute("onclick","this.parentElement.style.display=\"none\"");
									close.innerHTML = "<img src=\"https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/nevalidiranIcon.png\">";
									notificationElem.appendChild(close);
								document.getElementById("notifications").appendChild(notificationElem);
							}
						}
						
					}
					
				}
			})
		</script>
		<script>
			function loadGif(){
				document.getElementById("load-lightbox").style.display = "block";
			}

			function stopLoadGif(){
				document.getElementById("load-lightbox").style.display = "none";
			}
			stopLoadGif()
		</script>
		<div id="notifications"></div>
		<div id="page-wrap">
			<%- include ("partials/menu") -%>