<!DOCTYPE html>
<html lang="rs">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>ВиК Портал Послова Града</title>

		<!-- Bootstrap -->
		<link href="/css/style.css?<%= new Date().getTime();%>" rel="stylesheet">
		<link rel="icon" type="image/x-icon" href="/favicon.png">
		<link rel="apple-touch-icon" href="/favicon.png">
		<meta property="og:title" content="ВиК Портал Послова Града" />
		<meta property="og:type" content="application" />
		<meta property="og:url" content="https://poslovigrada.azurewebsites.net" />
		<meta property="og:image" content="https://poslovigrada.azurewebsites.net/images/ogImage.png" />
		<meta property="og:description" content="ВиК Портал Послова Града" />
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		  <script src="/js/helperFunctions.js"></script>
		  <script src="/js/socket.js"></script>
		  <script>var socket  = io({});</script>
	</head>
	<body>
		<div id="load-lightbox" class="lightbox">
			<div class="lightboxContent">
				<img src="https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/loadGif.gif">
			</div>
		</div>
		<div id="image-lightbox" class="imageLightbox" onclick="this.style.display='none'">
			<div class="lightboxContent">
				<img class="image" onclick="event.stopPropagation()"> 
			</div>
			<div class="downloadButtonWrap" onclick="event.stopPropagation()">
				<a id="download-button" href="" download="">SAČUVAJ SLIKU</a>
			</div>
		</div>
		<script>
			function loadGif(){
				document.getElementById("load-lightbox").style.display = "block";
			}
		</script>
		<div id="page-wrap">
			<%- include ("partials/menu") -%>