<%- include ("partials/header") -%>
	<script>
		var treceLice = <%-JSON.stringify(treceLice)%>;
		var nalozi = <%-JSON.stringify(nalozi)%>;
		console.log(nalozi)
	</script>
	<div class="pageWidth trecaLica">
		<div class="kreiranje">
			<div class="inputWrap title">
				<input type="text" id="naziv" placeholder="Назив трећег лица" disabled>
				<script>
					document.getElementById("naziv").value = treceLice.naziv;
				</script>
			</div>
			<div class="inlineHalf">
				<div class="inline">
					<div class="inputWrap">
						<div class="title">Порески идентификациони број</div>
						<div class="inputWrapper"><input type="number" id="pib" placeholder="ПИБ" disabled></div>
						<script>
							document.getElementById("pib").value = treceLice.pib;
						</script>
					</div>
				</div>
				<div class="inline">
					<div class="inputWrap">
						<div class="title">Матични број</div>
						<div class="inputWrapper"><input type="number" id="mb" placeholder="МБ" disabled></div>
						<script>
							document.getElementById("mb").value = treceLice.mb;
						</script>
					</div>
				</div>
			</div>
			<div class="inputWrap">
				<div class="inputWrap">
					<div class="title">Адреса</div>
					<div class="inputWrapper"><input type="text" id="adresa" placeholder="Адреса" disabled></div>
					<script>
						document.getElementById("adresa").value = treceLice.adresa;
					</script>
				</div>
			</div>
			<div class="cenovnikWrapper">
				<div class="inputWrap" style="margin-top:20px;margin-bottom: 2px;"><div class="title">Ценовник</div></div>
				<div class="krajnjiCenovnik">
					<div class="row firstRow">
						<div class="item broj">Бр.</div>
						<div class="item sifra">Шифра</div>
						<div class="item naziv">Назив</div>
						<div class="item jedinica">Јединица мере</div>
						<div class="item cena">Цена без ПДВ</div>
					</div>
					<div class="body" id="krajnji-cenovnik"></div>
					<script>
						var cenovnik = treceLice.cenovnik;
						var finalniCenovnik = cenovnik;
						for(var i=0;i<cenovnik.length;i++){
							var row = document.createElement("DIV");
							row.setAttribute("class","row")
								var rowElem = document.createElement("DIV");
					        	rowElem.setAttribute("class","item broj");
					        	rowElem.innerHTML = eval(i+1)+".";
					        	row.appendChild(rowElem);

								var rowElem = document.createElement("DIV");
					        	rowElem.setAttribute("class","item sifra");
				        		rowElem.innerHTML = cenovnik[i].code;
					        	row.appendChild(rowElem);

								var rowElem = document.createElement("DIV");
					        	rowElem.setAttribute("class","item naziv");
				        		rowElem.innerHTML = cenovnik[i].name;
					        	row.appendChild(rowElem);

								var rowElem = document.createElement("DIV");
					        	rowElem.setAttribute("class","item jedinica");
				        		rowElem.innerHTML = cenovnik[i].unit;
					        	row.appendChild(rowElem);

								var rowElem = document.createElement("DIV");
					        	rowElem.setAttribute("class","item cena");
				        		rowElem.innerHTML = brojSaRazmacima(cenovnik[i].price);
					        	row.appendChild(rowElem);
							document.getElementById("krajnji-cenovnik").appendChild(row);
						}
					</script>
				</div>
			</div>
			<div class="inputWrap" style="margin-top:20px;margin-bottom: 2px;"><div class="title">Налози</div></div>
			<div class="otvoreniNalozi">
				<div class="tableWrap">
					<div class="tableHeader">
						<table>
							<tr>
								<td><div class="value redniBroj">Редни број</div></td>
								<td><div class="value brojNaloga">Број налога</div></td>
								<td><div class="value datumNaloga">Датум налога</div></td>
								<td><div class="value adresa">Назив пројекта</div></td>
								<td><div class="value status">Статус</div></td>
								<td><div class="value majstor">Majstor</div></td>
							</tr>
						</table>
					</div>
					<div class="table" id="table"></div>
					<script>
						document.getElementById("table").innerHTML = "";
						var table = document.createElement("TABLE");
						for(var i=0;i<nalozi.length;i++){
							var tr = document.createElement("TR");
								var td = document.createElement("TD");
									var div = document.createElement("DIV");
									div.setAttribute("class","value redniBroj");
									div.innerHTML = eval(i+1)+".";
									td.appendChild(div);
								tr.appendChild(td);

								var td = document.createElement("TD");
									var div = document.createElement("DIV");
									div.setAttribute("class","value brojNaloga");
										var a = document.createElement("A");
										a.setAttribute("href","/trecaLica/nalog/"+nalozi[i].uniqueId);
										a.setAttribute("target","_blank");
										a.setAttribute("onclick","this.parentElement.parentElement.parentElement.style='font-weight:500;background-color:rgb(180,180,180)';");
										a.innerHTML = nalozi[i].broj;
										div.appendChild(a);
									td.appendChild(div);
								tr.appendChild(td);
								
								var td = document.createElement("TD");
									var div = document.createElement("DIV");
									div.setAttribute("class","value datumNaloga");
									div.innerHTML = nalozi[i].datum.datum;
									td.appendChild(div);
								tr.appendChild(td);
								
								var td = document.createElement("TD");
									var div = document.createElement("DIV");
									div.setAttribute("class","value adresa");
									div.innerHTML = nalozi[i].nazivProjekta;
									td.appendChild(div);
								tr.appendChild(td);
								
								var td = document.createElement("TD");
									var div = document.createElement("DIV");
									div.setAttribute("class","value status");
									div.innerHTML = nalozi[i].statusNaloga;
									td.appendChild(div);
								tr.appendChild(td);
								
								var td = document.createElement("TD");
									var div = document.createElement("DIV");
									div.setAttribute("class","value iznos");
									div.innerHTML = brojSaRazmacima(nalozi[i].ukupanIznos);
									td.appendChild(div);
								tr.appendChild(td);
								
								

							table.appendChild(tr);
						}
						document.getElementById("table").appendChild(table)
					</script>
				</div>
			</div>
		</div>
	</div>
<%- include ("partials/footer") -%>