<%- include ("partials/header") -%>
	<div class="pageWidth trecaLica">
		<div class="kreiranje">
			<div class="inputWrap title" style="padding-top:20px">
				<label for="tip-pravno">Pravno lice:</label> <input type="radio" class="tipLica" id="tip-pravno" value="pravno" name="tip" checked><br><p></p>
				<label for="tip-fizicko">Fizicko lice:</label> <input type="radio" class="tipLica" id="tip-fizicko" value="fizicko" name="tip">
			</div>
			<div class="inputWrap title">
				<input type="text" id="naziv" placeholder="Назив трећег лица">
			</div>
			<div class="inputWrap title">
				<textarea id="opis" placeholder="Опис трећег лица"></textarea>
			</div>
			
			<div class="inputWrap">
				<div class="button" onclick="save()">САЧУВАЈ</div>
			</div>
			<form method="POST" action="/novoTreceLice" style="display: none;" id="form">
				<input type="text" name="json" id="json">
			</form>
			<script>
				function save(){
					var json = {};
					json.naziv = document.getElementById("naziv").value;
					json.opis = document.getElementById("opis").value;
					json.tip = "";
					if(!json.naziv){
						alert("Нисте унели назив фирме");
						return;
					}
					if(!json.opis){
						alert("Нисте унели opis");
						return;
					}

					var tipovi = document.getElementsByClassName("tipLica");
					for(var i=0;i<tipovi.length;i++){
						if(tipovi[i].checked){
							json.tip = tipovi[i].value;
						}
					}


					document.getElementById("json").value = JSON.stringify(json);
					loadGif();
					document.getElementById("form").submit();
				}

			</script>
		</div>
	</div>
<%- include ("partials/footer") -%>