<%- include ("partials/header-nl") -%>
		<div class="blueWrap">
			<div class="pageWidth">
				<script>
					var majstor = false;
					majstor = <%- JSON.stringify(majstor)%>;
					console.log(majstor);
					var majstorType = <%=majstorType%>;
					console.log(majstorType);
				</script>
				<div class="message">Bla bla bla</div>		
			</div>
		</div>
	</div><!--page wrap-->
<%- include ("partials/footer") -%>