<%- include ("partials/header") -%>
	<script>
		<% if (typeof nalozi!="undefined") { %>
			var nalozi = <%-JSON.stringify(nalozi)%>;
		<% }else{ %>
			var nalozi = [];
		<% } %>
	</script>
	<div class="pageWidth" style="position:relative">
		<div class="mapIndicators">
			<div class="mapIndicator">
				<div class="image">
					<img src="https://maps.google.com/mapfiles/ms/icons/green-dot.png">
				</div>
				<div class="text">
					Мајстору упаљено возило
				</div>
			</div>
			<div class="mapIndicator">
				<div class="image">
					<img src="https://maps.google.com/mapfiles/ms/icons/blue-dot.png">
				</div>
				<div class="text">
					Мајстору угашено возило
				</div>
			</div>
			<div class="mapIndicator">
				<div class="image">
					<img src="https://maps.google.com/mapfiles/ms/icons/red-dot.png">
				</div>
				<div class="text">
					Неизвршен налог<br>&nbsp;<br><span class="button" onclick="hideNaloge(this)" data-hidden="0">Сакриј налоге</span>
				</div>
			</div>
		</div>
		<%- include ("partials/mapaPartial") -%>
	</div>
<%- include ("partials/footer") -%>