<%- include ("partials/header") -%>
<div class="message">
	<div class="pageWidth">
		<div class="blueWrap">
			<div class="pageWidth">
				<div class="message"><%-message%></div>		
			</div>
		</div>
	</div>
</div>
<%- include ("partials/footer") -%>