<%- include ("partials/header-nl") -%>
		<div class="blueWrap">
			<div class="pageWidth">
				<div class="message"><%-message%></div>		
			</div>
		</div>
	</div><!--page wrap-->
<%- include ("partials/footer") -%>