<%- include ("partials/header") -%>
<div class="message">
	<div class="pageWidth">
		<div class="blueWrap">
			<div class="pageWidth">
				<div class="icon"><img src="https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/programerIcon.png"></div>
				<div class="message">Страница у изради. Имајте стрпљења :) ВиК неће стати!</div>		
			</div>
		</div>
	</div>
</div>
<%- include ("partials/footer") -%>