<%- include ("partials/header") -%>
	<script>
		var nalozi = <%-JSON.stringify(nalozi)%>;
		var obracunatiNalozi = <%-JSON.stringify(obracunatiNalozi)%>;
		console.log(obracunatiNalozi)
	</script>
	<div class="pageWidth">
		<div class="kontrolaNeizvrseniNalozi">
			<div id="header" class="head">
				<div class="mainTitle" id="opstine"></div>
				<script>
					var str = ""
					for(var i=0;i<user.radneJedinice.length;i++){
						str += user.radneJedinice[i] + ", ";
					}
					document.getElementById("opstine").innerHTML = str.slice(0, -2)
				</script>
				<div class="inlines">
					<div class="title">Ostvaren Iznos</div>
					<div class="info" id="ostvaren-iznos"></div>
				</div>
				<div class="inlines">
					<div class="title">Završeno naloga</div>
					<div class="info" id="zavrseno-naloga"></div>
				</div>
				<div class="inlines">
					<div class="title">Neizvršeno naloga</div>
					<div class="info" id="neizvrseno-naloga"></div>
				</div>
				<div class="inlines">
					<div class="title">Danas naloga</div>
					<div class="info" id="danas-naloga"></div>
				</div>
				<div class="inlines">
					<div class="title">Finalizacije</div>
					<div class="info" id="finalizacije"></div>
				</div>
				<div class="inlines">
					<div class="title">Kopanja</div>
					<div class="info" id="kopanja"></div>
				</div>
				<div class="inlines">
					<div class="title">Betonaže</div>
					<div class="info" id="betonaze"></div>
				</div>
				<div class="inlines">
					<div class="title">Asfalt</div>
					<div class="info" id="asfalt"></div>
				</div>
				<div class="inlines">
					<div class="title">Zamena</div>
					<div class="info" id="zamena"></div>
				</div>
			</div>
			<div class="nalozi" id="nalozi"></div>
			<script>
				var ostvarenIznos = 0;
				var zavrsenoNaloga = obracunatiNalozi.length;
				var neizvrsenoNaloga = nalozi.length;
				var danasNaloga = 0;
				var finalizacije = 0;
				var asfalt = 0;
				var beton = 0;
				var kopanje = 0;
				var zamena = 0;
				for(var i=0;i<nalozi.length;i++){
					if(getDateAsStringForDisplay(new Date())==nalozi[i].datum.datum){
						danasNaloga++;
					}
					if(nalozi[i].statusNaloga=="Finalizacija" || nalozi[i].statusNaloga=="Zakazana finalizacija"){
						finalizacije++;
					}
					if(nalozi[i].statusNaloga=="Asfalt"){
						asfalt++;
					}
					if(nalozi[i].statusNaloga=="Betonaža"){
						beton++;
					}
					if(nalozi[i].statusNaloga=="Kopanje"){
						kopanje++;
					}
					if(nalozi[i].statusNaloga=="Zamena"){
						zamena++;
					}
				}

				for(var i=0;i<obracunatiNalozi.length;i++){
					if(!isNaN(parseFloat(obracunatiNalozi[i].ukupanIznos))){
						ostvarenIznos = ostvarenIznos + parseFloat(obracunatiNalozi[i].ukupanIznos);
					}
				}

				document.getElementById("ostvaren-iznos").innerHTML = brojSaRazmacima(ostvarenIznos);
				document.getElementById("zavrseno-naloga").innerHTML = zavrsenoNaloga;
				document.getElementById("neizvrseno-naloga").innerHTML = neizvrsenoNaloga;
				document.getElementById("danas-naloga").innerHTML = danasNaloga;
				document.getElementById("finalizacije").innerHTML = finalizacije;
				document.getElementById("betonaze").innerHTML = beton;
				document.getElementById("asfalt").innerHTML = asfalt;
				document.getElementById("kopanja").innerHTML = kopanje;
				document.getElementById("zamena").innerHTML = zamena;


				nalozi.sort((a, b) => b.datum.datetime - a.datum.datetime);

				for(var i=0;i<user.radneJedinice.length;i++){
					var naloziWrap = document.createElement("DIV");
					naloziWrap.setAttribute("class","naloziWrap");
					naloziWrap.setAttribute("id",user.radneJedinice[i]);
						var title = document.createElement("DIV");
						title.setAttribute("class","title");
						title.innerHTML = user.radneJedinice[i];
						naloziWrap.appendChild(title);
					document.getElementById("nalozi").appendChild(naloziWrap);
				}

				for(var i=0;i<nalozi.length;i++){
					var nalogWrap = document.createElement("DIV");
					nalogWrap.setAttribute("class","nalogWrap");

						var brojNaloga = document.createElement("DIV");
						brojNaloga.setAttribute("class","brojNaloga");
						brojNaloga.innerHTML = "<a href='/nalog/"+nalozi[i].broj+"'>"+nalozi[i].broj+"</a>";
						nalogWrap.appendChild(brojNaloga);

						var adresaNaloga = document.createElement("DIV");
						adresaNaloga.setAttribute("class","adresaNaloga");
						adresaNaloga.innerHTML = nalozi[i].adresa+"<br><b>"+nalozi[i].datum.datum+"</b>";
						nalogWrap.appendChild(adresaNaloga);

						var statusNaloga = document.createElement("DIV");
						statusNaloga.setAttribute("class","statusNaloga");
						statusNaloga.innerHTML = nalozi[i].statusNaloga;
						nalogWrap.appendChild(statusNaloga);

					document.getElementById(nalozi[i].radnaJedinica).appendChild(nalogWrap);
					
				}

				for(var i=0;i<document.getElementsByClassName("naloziWrap").length;i++){
					document.getElementsByClassName("naloziWrap")[i].getElementsByClassName("title")[0].innerHTML += " <span style=\"font-weight:200;\">(" + document.getElementsByClassName("naloziWrap")[i].getElementsByClassName("nalogWrap").length+ ")</span>";
				}
			</script>
		</div>
	</div>	
<%- include ("partials/footer") -%>