<%- include ("partials/header") -%>
	<div class="pageWidth">
		<div class="pretragaNaloga">
			<div class="pageWidth">
				<div class="blueWrap">
					<div class="imageWrap" style="text-align:center">
						<img src="https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/searchIcon.png" width="70">
					</div>
					<div class="inputWrap">
						<div class="title">Број налога</div>
						<div class="inputWrapper">
							<input type="text" id="broj-naloga" class="textInput">
						</div>
					</div>
					<div class="inputWrap" style="margin-top:30px">
						<div class="button" onclick="nadjiNalog()">Пронађи по броју</div>
						<script>
							function nadjiNalog(){
								var brojNaloga = document.getElementById('broj-naloga').value;
								if(brojNaloga.length<7 || brojNaloga.length>7){
									alert("Број налога делује неисправно. Потребно је да има 7 цифри.")
								}else{
									loadGif();
									if(brojNaloga.startsWith("00")){
										window.location.href='/treceLiceNalogBroj/'+brojNaloga;
									}else{
										window.location.href='/nalog/'+brojNaloga;
									}
									
								}
							}
							document.getElementById("broj-naloga").addEventListener('keypress', function(event) {
								if (event.keyCode == 13) {
									nadjiNalog();
								}
							});
						</script>
					</div>
					<div class="spacer"></div>
					<div class="inputWrap">
						<div class="title">Адреса налога</div>
						<div class="inputWrapper">
							<input type="text" id="adresa-naloga" class="textInput">
						</div>
					</div>
					<div class="inputWrap" style="margin-top:30px">
						<div class="button" onclick="nadjiNalogPoAdresi()">Пронађи по адреси</div>
						<form method="POST" action="/pretragaNalogaPoAdresi" style="display:none" id="form">
							<input type="text" id="adresa" name="adresa">
						</form>
						<script>
							function nadjiNalogPoAdresi(){
								var adresa = document.getElementById('adresa-naloga').value;
								if(adresa.length<3){
									alert("Адреса налога мора имати барем три слова за претрагу.");
								}else{
									document.getElementById("adresa").value = adresa;
									loadGif();
									document.getElementById("form").submit();
								}
							}
							document.getElementById("adresa-naloga").addEventListener('keypress', function(event) {
								if (event.keyCode == 13) {
									nadjiNalogPoAdresi();
								}
							});
						</script>
					</div>
				</div>
			</div>
		</div>
	</div>
<%- include ("partials/footer") -%>