<%- include ("partials/header") -%>
<script>
	var majstori = <%-JSON.stringify(majstori)%>;
	var pomocnici = <%-JSON.stringify(pomocnici)%>;
</script>
<div class="administracijaMajstora">
	<div class="pageWidth">
		<div class="majstori">
			<div class="title">Мајстори</div>
			<div id="lista-majstora" class="majstorList"></div>
			<script>
				for(var i=0;i<majstori.length;i++){
					var majstorBlok = document.createElement("DIV");
					majstorBlok.setAttribute("class","majstorBlok");
					if(!majstori[i].aktivan){majstorBlok.classList.add("majstorBlokInactive")}
						var imeMajstora = document.createElement("DIV");
						imeMajstora.setAttribute("class","ime");
						imeMajstora.setAttribute("onclick","window.location.href='/administracijaMajstora/"+majstori[i].uniqueId+"'");
						imeMajstora.innerHTML = majstori[i].ime;
						majstorBlok.appendChild(imeMajstora);
					document.getElementById("lista-majstora").appendChild(majstorBlok);
				}

				var majstorBlok = document.createElement("DIV");
				majstorBlok.setAttribute("class","majstorBlok");
				majstorBlok.setAttribute("style","background-color:rgb(20,255,20)")
					var imeMajstora = document.createElement("DIV");
					imeMajstora.setAttribute("class","ime");
					imeMajstora.setAttribute("onclick","window.location.href='/dodajMajstora'");
					imeMajstora.innerHTML = "ДОДАЈ НОВОГ";
					majstorBlok.appendChild(imeMajstora);
				document.getElementById("lista-majstora").appendChild(majstorBlok);
			</script>
		</div>
		<div class="pomocnici">
			<div class="title">Помоћници</div>
			<div id="lista-pomocnika" class="majstorList"></div>
			<script>
				for(var i=0;i<pomocnici.length;i++){
					var majstorBlok = document.createElement("DIV");
					majstorBlok.setAttribute("class","majstorBlok");
					if(!pomocnici[i].aktivan){majstorBlok.classList.add("majstorBlokInactive")}
						var imeMajstora = document.createElement("DIV");
						imeMajstora.setAttribute("class","ime");
						imeMajstora.setAttribute("onclick","window.location.href='/administracijaMajstora/"+pomocnici[i].uniqueId+"'");
						imeMajstora.innerHTML = pomocnici[i].ime;
						majstorBlok.appendChild(imeMajstora);
					document.getElementById("lista-pomocnika").appendChild(majstorBlok);
				}

				var majstorBlok = document.createElement("DIV");
				majstorBlok.setAttribute("class","majstorBlok");
				majstorBlok.setAttribute("style","background-color:rgb(20,255,20)")
					var imeMajstora = document.createElement("DIV");
					imeMajstora.setAttribute("class","ime");
					imeMajstora.setAttribute("onclick","window.location.href='/dodajPomocnika'");
					imeMajstora.innerHTML = "ДОДАЈ НОВОГ";
					majstorBlok.appendChild(imeMajstora);
				document.getElementById("lista-pomocnika").appendChild(majstorBlok);
			</script>
		</div>
	</div>
</div>
<%- include ("partials/footer") -%>