<%- include ("partials/header") -%>
	<script>
		var informacije = <%-JSON.stringify(informacije)%>;
		for(var i=0;i<informacije.length;i++){
			informacije[i].iznos = 0;
			for(var j=0;j<informacije[i].kategorije.length;j++){
				informacije[i].iznos = informacije[i].iznos + informacije[i].kategorije[j].iznos
			}
		}
		var informacijePodizvodjaci = <%-JSON.stringify(informacijePodizvodjaci)%>;
		for(var i=0;i<informacijePodizvodjaci.length;i++){
			informacijePodizvodjaci[i].iznos = 0;
			for(var j=0;j<informacijePodizvodjaci[i].kategorije.length;j++){
				informacijePodizvodjaci[i].iznos = informacijePodizvodjaci[i].iznos + informacijePodizvodjaci[i].kategorije[j].iznos
			}
		}
	</script>
	<div class="pageWidth">
		<div class="autoKategorije" id="auto-kategorije"></div>
		<script>
			for(var i=0;i<informacije.length;i++){
				var mesec = document.createElement("DIV");
				mesec.setAttribute("class","mesec");
					var title = document.createElement("DIV");
					title.setAttribute("class","title");
					title.innerHTML = informacije[i].ime +" / "+brojSaRazmacima(informacije[i].iznos + informacijePodizvodjaci[i].iznos);
					mesec.appendChild(title);

					var kategorije = document.createElement("DIV");
					kategorije.setAttribute("class","kategorije");
					for(var j=0;j<informacije[i].kategorije.length;j++){
						var kategorija = document.createElement("DIV");
						kategorija.setAttribute("class","kategorija");
							var ime = document.createElement("DIV");
							ime.setAttribute("class","ime");
							ime.innerHTML = informacije[i].kategorije[j].ime;
							kategorija.appendChild(ime);

							var iznos = document.createElement("DIV");
							iznos.setAttribute("class","iznos");
							//iznos.innerHTML	= "PG: " + brojSaRazmacima(informacije[i].kategorije[j].iznos)+"<br>Podizvodjaci: " +brojSaRazmacima(informacijePodizvodjaci[i].kategorije[j].iznos)+"<br>Ukupno: "+brojSaRazmacima(informacije[i].kategorije[j].iznos+informacijePodizvodjaci[i].kategorije[j].iznos);
								var row = document.createElement("DIV");
								row.setAttribute("class","row");
									var nameDiv = document.createElement("DIV");
									nameDiv.setAttribute("class","name");
									nameDiv.innerHTML = "PG:";
									row.appendChild(nameDiv);

									var iznosDiv = document.createElement("DIV");
									iznosDiv.setAttribute("class","iznosDiv");
									iznosDiv.innerHTML = brojSaRazmacima(informacije[i].kategorije[j].iznos);
									row.appendChild(iznosDiv);
								iznos.appendChild(row);

								var row = document.createElement("DIV");
								row.setAttribute("class","row");
									var nameDiv = document.createElement("DIV");
									nameDiv.setAttribute("class","name");
									nameDiv.innerHTML = "Podizv.:";
									row.appendChild(nameDiv);

									var iznosDiv = document.createElement("DIV");
									iznosDiv.setAttribute("class","iznosDiv");
									iznosDiv.innerHTML = brojSaRazmacima(informacijePodizvodjaci[i].kategorije[j].iznos);
									row.appendChild(iznosDiv);
								iznos.appendChild(row);
								

								var row = document.createElement("DIV");
								row.setAttribute("class","row");
									var nameDiv = document.createElement("DIV");
									nameDiv.setAttribute("class","name");
									nameDiv.innerHTML = "Ukupno:";
									row.appendChild(nameDiv);

									var iznosDiv = document.createElement("DIV");
									iznosDiv.setAttribute("class","iznosDiv");
									iznosDiv.innerHTML = brojSaRazmacima(informacijePodizvodjaci[i].kategorije[j].iznos+informacije[i].kategorije[j].iznos);
									row.appendChild(iznosDiv);
								iznos.appendChild(row);

							kategorija.appendChild(iznos);
						kategorije.appendChild(kategorija);
					}
					mesec.appendChild(kategorije);
				document.getElementById("auto-kategorije").appendChild(mesec);
			}
		</script>
	</div>
<%- include ("partials/footer") -%>