<%- include ("partials/header") -%>
	<script>
		var specifikacije = <%-JSON.stringify(specifikacije)%>;
	</script>
	<div class="pageWidth podizvodjaci">
		<div class="lightBlueBox">
			<div class="specifikacije">
				<div class="tableWrap">
					<table id="table">
						<tr>
							<td>Подизвођач</td>
							<td>Број<br>спецификације</td>
							<td>Број<br>фактуре</td>
							<td>Датум<br>спецификације</td>
							<td>Износ</td>
							<td>Статус</td>
						</tr>
					</table>
					<script>
						for(var i=0;i<specifikacije.length;i++){
							var tr = document.createElement("TR");
								var td = document.createElement("TD");
								td.innerHTML = "<div class=\"value\">"+specifikacije[i].user.name+"</div>";
								tr.appendChild(td);

								var td = document.createElement("TD");
								td.innerHTML = "<div class=\"value\"><a href=\"/administracija/specifikacijaPodizvodjaca/"+specifikacije[i].uniqueId+"\" target=\"_blank\">"+specifikacije[i].brojSpecifikacije+"</a></div>";
								tr.appendChild(td);

								var td = document.createElement("TD");
								td.innerHTML = "<div class=\"value\">"+specifikacije[i].brojFakture+"</div>";
								tr.appendChild(td);

								var td = document.createElement("TD");
								td.innerHTML = "<div class=\"value\">"+specifikacije[i].datum.datum+"</div>";
								tr.appendChild(td);

								var td = document.createElement("TD");
								td.innerHTML = "<div class=\"value\">"+brojSaRazmacima(specifikacije[i].ukupanIznos)+"</div>";
								tr.appendChild(td);

								var td = document.createElement("TD");
								var status = Number(specifikacije[i].odobrena)==0 ? "На одобрењу" : "Одобрена";
								td.innerHTML = "<div class=\"value\">"+status+"</div>";
								tr.appendChild(td);

							document.getElementById("table").appendChild(tr);
						}
					</script>
				</div>
			</div>

		</div>
	</div>
<%- include ("partials/footer") -%>