<%- include ("partials/header") -%>
	<script>
		var specifikacije = <%-JSON.stringify(specifikacije)%>;
		//console.log(specifikacije)
	</script>
	<div class="pageWidth podizvodjaci">
		<div class="lightBlueBox">
			<div class="specifikacije">
				<div class="totalTable">
					<table id="total-table"></table>
				</div>
				<script>
					var tr = document.createElement("TR");
						var td = document.createElement("TD");
						td.innerHTML="Период";
						tr.appendChild(td);
						
						var td = document.createElement("TD");
						td.innerHTML="Износ";
						tr.appendChild(td);
						
						var td = document.createElement("TD");
						td.innerHTML="Износ Премијус";
						tr.appendChild(td);
						
						var td = document.createElement("TD");
						td.innerHTML="Износ ПГ";
						tr.appendChild(td);
						
						var td = document.createElement("TD");
						td.innerHTML="Добит Премијус";
						tr.appendChild(td);
						
						var td = document.createElement("TD");
						td.innerHTML="Добит ПГ";
						tr.appendChild(td);
					document.getElementById("total-table").appendChild(tr);
					var ukupanIznos = 0;
					var ukupanIznosPremijus = 0;
					var ukupanIznosPG = 0;
					var ukupnaDobitPremijus = 0;
					var ukupnaDobitPG = 0;
					for(var i=0;i<meseciJson.length;i++){
						meseciJson[i].iznos = 0;
						meseciJson[i].iznosPremijus = 0;
						meseciJson[i].iznosPG = 0;
						meseciJson[i].dobitPremijus = 0;
						meseciJson[i].dobitPG = 0;
					}

					for(var i=0;i<specifikacije.length;i++){
						var umanjenje = 1;
						if(Number(specifikacije[i].datum.datetime)>1714521600000){
							umanjenje = 0.675;
						}
						ukupanIznos = ukupanIznos + parseFloat(specifikacije[i].ukupanIznos);
						ukupanIznosPremijus = ukupanIznosPremijus + parseFloat(specifikacije[i].ukupanIznosPG);
						ukupanIznosPG = ukupanIznosPG + parseFloat(specifikacije[i].ukupanIznosPG)*umanjenje;
						var razlika = parseFloat(specifikacije[i].ukupanIznosPG) - parseFloat(specifikacije[i].ukupanIznos);
						ukupnaDobitPremijus = ukupnaDobitPremijus + razlika;
						var razlika2 = parseFloat(specifikacije[i].ukupanIznosPG)*umanjenje - parseFloat(specifikacije[i].ukupanIznos);
						ukupnaDobitPG = ukupnaDobitPG + razlika2;
						for(var j=0;j<meseciJson.length;j++){
							if(specifikacije[i].datum.datum.includes(meseciJson[j].string)){
								meseciJson[j].iznos = meseciJson[j].iznos + parseFloat(specifikacije[i].ukupanIznos);
								meseciJson[j].iznosPremijus = meseciJson[j].iznosPremijus + parseFloat(specifikacije[i].ukupanIznosPG);
								meseciJson[j].dobitPremijus = meseciJson[j].dobitPremijus + razlika;

								meseciJson[j].iznosPG = meseciJson[j].iznosPG + parseFloat(specifikacije[i].ukupanIznosPG)*umanjenje;
								meseciJson[j].dobitPG = meseciJson[j].dobitPG + razlika2;
							}	
						}
					}

					var tr = document.createElement("TR");
						var td = document.createElement("TD");
						td.innerHTML = "<div class=\"value\">Укупно</div>"
						tr.appendChild(td);

						var td = document.createElement("TD");
						td.innerHTML = "<div class=\"value\">"+brojSaRazmacima(ukupanIznos)+"</div>"
						tr.appendChild(td);

						var td = document.createElement("TD");
						td.innerHTML = "<div class=\"value\">"+brojSaRazmacima(ukupanIznosPremijus)+"</div>"
						tr.appendChild(td);

						var td = document.createElement("TD");
						td.innerHTML = "<div class=\"value\">"+brojSaRazmacima(ukupanIznosPG)+"</div>"
						tr.appendChild(td);

						var td = document.createElement("TD");
						var procentualnaDobit = isNaN(100 - ukupanIznos/ukupanIznosPremijus*100) ? 0 : 100 - ukupanIznos/ukupanIznosPremijus*100;
						td.innerHTML = "<div class=\"value\">"+brojSaRazmacima(ukupnaDobitPremijus)+"<br>"+procentualnaDobit.toFixed(2)+"%</div>"
						tr.appendChild(td);

						var td = document.createElement("TD");
						var procentualnaDobit = isNaN(100 - ukupanIznos/ukupanIznosPG*100) ? 0 : 100 - ukupanIznos/ukupanIznosPG*100;
						td.innerHTML = "<div class=\"value\">"+brojSaRazmacima(ukupnaDobitPG)+"<br>"+procentualnaDobit.toFixed(2)+"%</div>"
						tr.appendChild(td);
					document.getElementById("total-table").appendChild(tr);

					for(var i=0;i<meseciJson.length;i++){
						var tr = document.createElement("TR");
							var td = document.createElement("TD");
							td.innerHTML = "<div class=\"value\">"+meseciJson[i].name+"</div>"
							tr.appendChild(td);

							var td = document.createElement("TD");
							td.innerHTML = "<div class=\"value\">"+brojSaRazmacima(meseciJson[i].iznos)+"</div>"
							tr.appendChild(td);

							var td = document.createElement("TD");
							td.innerHTML = "<div class=\"value\">"+brojSaRazmacima(meseciJson[i].iznosPremijus)+"</div>"
							tr.appendChild(td);

							var td = document.createElement("TD");
							td.innerHTML = "<div class=\"value\">"+brojSaRazmacima(meseciJson[i].iznosPG)+"</div>"
							tr.appendChild(td);

							var td = document.createElement("TD");
							var procentualnaDobit = isNaN(100 - meseciJson[i].iznos/meseciJson[i].iznosPremijus*100) ? 0 : 100 - meseciJson[i].iznos/meseciJson[i].iznosPremijus*100;
							td.innerHTML = "<div class=\"value\">"+brojSaRazmacima(meseciJson[i].dobitPremijus)+"<br>"+procentualnaDobit.toFixed(2)+"%</div>"
							tr.appendChild(td);

							var td = document.createElement("TD");
							var procentualnaDobit = isNaN(100 - meseciJson[i].iznos/meseciJson[i].iznosPG*100) ? 0 : 100 - meseciJson[i].iznos/meseciJson[i].iznosPG*100;
							td.innerHTML = "<div class=\"value\">"+brojSaRazmacima(meseciJson[i].dobitPG)+"<br>"+procentualnaDobit.toFixed(2)+"%</div>"
							tr.appendChild(td);
						document.getElementById("total-table").appendChild(tr);
					}
				</script>
				<div class="header" id="header"></div>
				<script>
					for(var i=0;i<specifikacije.length;i++){
						var podizvodjaci = document.getElementById("header").getElementsByClassName("podizvodjac");
						var podizvodjacFound = false;
						for(var j=0;j<podizvodjaci.length;j++){
							if(podizvodjaci[j].dataset.name==specifikacije[i].user.name){
								podizvodjacFound = true;
							}
						}
						if(!podizvodjacFound){
							var podizvodjac = document.createElement("DIV");
							podizvodjac.setAttribute("class","podizvodjac");
							podizvodjac.setAttribute("data-name",specifikacije[i].user.name)
							podizvodjac.setAttribute("onclick","izborPodizvodjaca(this)")
							podizvodjac.innerHTML = specifikacije[i].user.name;
							document.getElementById("header").appendChild(podizvodjac);	
						}
					}

					function izborPodizvodjaca(elem){
						var imePodizvodjaca = elem.dataset.name;
						var podizvodjaci = document.getElementById("header").getElementsByClassName("podizvodjac");
						for(var i=0;i<podizvodjaci.length;i++){
							podizvodjaci[i].classList.remove("podizvodjacActive");
							if(podizvodjaci[i].dataset.name==imePodizvodjaca){
								podizvodjaci[i].classList.add("podizvodjacActive");
							}
						}
						generateTable(imePodizvodjaca);
					}
				</script>
				<div class="filters">
					<div class="filter"></div>
				</div>
				<div class="information" id="information"></div>
				<div class="tableWrap">
					<table id="table"></table>
					<script>
						function generateTable(imePodizvodjaca){
							document.getElementById("table").innerHTML = "";
							document.getElementById("information").innerHTML = "";
							var tr = document.createElement("TR");
								var td = document.createElement("TD");
								td.innerHTML="Број<br>спецификације";
								tr.appendChild(td);
								
								var td = document.createElement("TD");
								td.innerHTML="Број<br>фактуре";
								tr.appendChild(td);
								
								var td = document.createElement("TD");
								td.innerHTML="Датум<br>спецификације";
								tr.appendChild(td);
								
								var td = document.createElement("TD");
								td.innerHTML="Износ";
								tr.appendChild(td);
								
								var td = document.createElement("TD");
								td.innerHTML="Износ Премијус";
								tr.appendChild(td);
								
								var td = document.createElement("TD");
								td.innerHTML="Износ ПГ";
								tr.appendChild(td);
								
								var td = document.createElement("TD");
								td.innerHTML="Добит Премијус";
								tr.appendChild(td);
								
								var td = document.createElement("TD");
								td.innerHTML="Добит ПГ";
								tr.appendChild(td);
								
								var td = document.createElement("TD");
								td.innerHTML="Статус";
								tr.appendChild(td);
							document.getElementById("table").appendChild(tr);
							document.getElementById("table").style = "width:140%;margin-left:-20%"
							var ukupanIznos = 0;
							var ukupanIznosPremijus = 0;
							var ukupanIznosPG = 0;
							var ukupnaDobitPremijus = 0;
							var ukupnaDobitPG = 0;
							for(var j=0;j<meseciJson.length;j++){
								meseciJson[j].iznos = 0;
								meseciJson[j].iznosPremijus = 0;
								meseciJson[j].iznosPG = 0;
								meseciJson[j].dobitPremijus = 0;
								meseciJson[j].dobitPG = 0;
							}
							for(var i=0;i<specifikacije.length;i++){
								if(specifikacije[i].user.name==imePodizvodjaca){
									var umanjenje = 1;
									if(Number(specifikacije[i].datum.datetime)>1714521600000){
										umanjenje = 0.675;
									}
									var tr = document.createElement("TR");
										var td = document.createElement("TD");
										td.innerHTML = "<div class=\"value\"><a href=\"/administracija/specifikacijaPodizvodjaca/"+specifikacije[i].uniqueId+"\" target=\"_blank\">"+specifikacije[i].brojSpecifikacije+"</a></div>";
										tr.appendChild(td);

										var td = document.createElement("TD");
										td.innerHTML = "<div class=\"value\">"+specifikacije[i].brojFakture+"</div>";
										tr.appendChild(td);

										var td = document.createElement("TD");
										td.innerHTML = "<div class=\"value\">"+specifikacije[i].datum.datum+"</div>";
										tr.appendChild(td);

										var td = document.createElement("TD");
										td.innerHTML = "<div class=\"value\">"+brojSaRazmacima(specifikacije[i].ukupanIznos)+"</div>";
										tr.appendChild(td);
										ukupanIznos = ukupanIznos + parseFloat(specifikacije[i].ukupanIznos);

										var td = document.createElement("TD");
										td.innerHTML = "<div class=\"value\">"+brojSaRazmacima(specifikacije[i].ukupanIznosPG)+"</div>";
										tr.appendChild(td);
										ukupanIznosPremijus = ukupanIznosPremijus + parseFloat(specifikacije[i].ukupanIznosPG);

										var td = document.createElement("TD");
										td.innerHTML = "<div class=\"value\">"+brojSaRazmacima(parseFloat(specifikacije[i].ukupanIznosPG)*umanjenje)+"</div>";
										tr.appendChild(td);
										ukupanIznosPG = ukupanIznosPG + parseFloat(specifikacije[i].ukupanIznosPG)*umanjenje;

										var td = document.createElement("TD");
										var razlika = parseFloat(specifikacije[i].ukupanIznosPG) - parseFloat(specifikacije[i].ukupanIznos);
										var procentualnaDobit = isNaN(100 - specifikacije[i].ukupanIznos/parseFloat(specifikacije[i].ukupanIznosPG)*100) ? 0 : 100 - specifikacije[i].ukupanIznos/parseFloat(specifikacije[i].ukupanIznosPG)*100;
										td.innerHTML = "<div class=\"value\">"+brojSaRazmacima(razlika)+"<br>"+procentualnaDobit.toFixed(2)+"%</div>";
										tr.appendChild(td);
										ukupnaDobitPremijus = ukupnaDobitPremijus + razlika;

										var td = document.createElement("TD");
										var razlika2 = parseFloat(specifikacije[i].ukupanIznosPG)*umanjenje - parseFloat(specifikacije[i].ukupanIznos);
										var procentualnaDobit = isNaN(100 - specifikacije[i].ukupanIznos/(parseFloat(specifikacije[i].ukupanIznosPG)*umanjenje)*100) ? 0 : 100 - specifikacije[i].ukupanIznos/(parseFloat(specifikacije[i].ukupanIznosPG)*umanjenje)*100;
										td.innerHTML = "<div class=\"value\">"+brojSaRazmacima(razlika2)+"<br>"+procentualnaDobit.toFixed(2)+"%</div>";
										tr.appendChild(td);
										ukupnaDobitPG = ukupnaDobitPG + razlika2;

										var td = document.createElement("TD");
										var status = Number(specifikacije[i].odobrena)==0 ? "На одобрењу" : "Одобрена";
										td.innerHTML = "<div class=\"value\">"+status+"</div>";
										tr.appendChild(td);

									document.getElementById("table").appendChild(tr);

									for(var j=0;j<meseciJson.length;j++){
										if(specifikacije[i].datum.datum.includes(meseciJson[j].string)){
											meseciJson[j].iznos = meseciJson[j].iznos + parseFloat(specifikacije[i].ukupanIznos);
											meseciJson[j].iznosPremijus = meseciJson[j].iznosPremijus + parseFloat(specifikacije[i].ukupanIznosPG);
											meseciJson[j].iznosPG = meseciJson[j].iznosPG + parseFloat(specifikacije[i].ukupanIznosPG)*umanjenje;
											meseciJson[j].dobitPremijus = meseciJson[j].dobitPremijus + razlika;
											meseciJson[j].dobitPG = meseciJson[j].dobitPG + razlika2;
										}
									}
								}
							}

							var table = document.createElement("TABLE");
								var tr = document.createElement("TR");
									var td = document.createElement("TD");
									td.innerHTML = "<div class=\"value\">Период</div>"
									tr.appendChild(td);

									var td = document.createElement("TD");
									td.innerHTML = "<div class=\"value\">Износ</div>"
									tr.appendChild(td);

									var td = document.createElement("TD");
									td.innerHTML = "<div class=\"value\">Износ Премијус</div>"
									tr.appendChild(td);

									var td = document.createElement("TD");
									td.innerHTML = "<div class=\"value\">Износ ПГ</div>"
									tr.appendChild(td);

									var td = document.createElement("TD");
									td.innerHTML = "<div class=\"value\">Добит Премијус</div>"
									tr.appendChild(td);

									var td = document.createElement("TD");
									td.innerHTML = "<div class=\"value\">Добит ПГ</div>"
									tr.appendChild(td);
								table.appendChild(tr);
								var tr = document.createElement("TR");
									var td = document.createElement("TD");
									td.innerHTML = "<div class=\"value\">Укупно</div>"
									tr.appendChild(td);

									var td = document.createElement("TD");
									td.innerHTML = "<div class=\"value\">"+brojSaRazmacima(ukupanIznos)+"</div>"
									tr.appendChild(td);

									var td = document.createElement("TD");
									td.innerHTML = "<div class=\"value\">"+brojSaRazmacima(ukupanIznosPremijus)+"</div>"
									tr.appendChild(td);

									var td = document.createElement("TD");
									td.innerHTML = "<div class=\"value\">"+brojSaRazmacima(ukupanIznosPG)+"</div>"
									tr.appendChild(td);


									var td = document.createElement("TD");
									var procentualnaDobit = isNaN(100 - ukupanIznos/ukupanIznosPremijus*100) ? 0 : 100 - ukupanIznos/ukupanIznosPremijus*100;
									td.innerHTML = "<div class=\"value\">"+brojSaRazmacima(ukupnaDobitPremijus)+"<br>"+procentualnaDobit.toFixed(2)+"%</div>";
									tr.appendChild(td);

									var td = document.createElement("TD");
									var procentualnaDobit = isNaN(100 - ukupanIznos/ukupanIznosPG*100) ? 0 : 100 - ukupanIznos/ukupanIznosPG*100;
									td.innerHTML = "<div class=\"value\">"+brojSaRazmacima(ukupnaDobitPG)+"<br>"+procentualnaDobit.toFixed(2)+"%</div>";
									tr.appendChild(td);
								table.appendChild(tr);
								for(var i=0;i<meseciJson.length;i++){
									var tr = document.createElement("TR");
										var td = document.createElement("TD");
										td.innerHTML = "<div class=\"value\">"+meseciJson[i].name+"</div>"
										tr.appendChild(td);

										var td = document.createElement("TD");
										td.innerHTML = "<div class=\"value\">"+brojSaRazmacima(meseciJson[i].iznos)+"</div>"
										tr.appendChild(td);

										var td = document.createElement("TD");
										td.innerHTML = "<div class=\"value\">"+brojSaRazmacima(meseciJson[i].iznosPremijus)+"</div>"
										tr.appendChild(td);

										var td = document.createElement("TD");
										td.innerHTML = "<div class=\"value\">"+brojSaRazmacima(meseciJson[i].iznosPG)+"</div>"
										tr.appendChild(td);

										var procentualnaDobit = isNaN(100 - meseciJson[i].iznos/meseciJson[i].iznosPremijus*100) ? 0 : 100 - meseciJson[i].iznos/meseciJson[i].iznosPremijus*100;
										var td = document.createElement("TD");
										td.innerHTML = "<div class=\"value\">"+brojSaRazmacima(meseciJson[i].dobitPremijus)+"<br>"+procentualnaDobit.toFixed(2)+"%</div>";
										tr.appendChild(td);

										var procentualnaDobit = isNaN(100 - meseciJson[i].iznos/meseciJson[i].iznosPG*100) ? 0 : 100 - meseciJson[i].iznos/meseciJson[i].iznosPG*100;
										var td = document.createElement("TD");
										td.innerHTML = "<div class=\"value\">"+brojSaRazmacima(meseciJson[i].dobitPG)+"<br>"+procentualnaDobit.toFixed(2)+"%</div>"
										tr.appendChild(td);
									table.appendChild(tr);
								}
							document.getElementById("information").appendChild(table);
						}

						izborPodizvodjaca(document.getElementById("header").getElementsByClassName("podizvodjac")[0]);
						
					</script>
				</div>
			</div>

		</div>
	</div>
<%- include ("partials/footer") -%>