<%- include ("partials/header") -%>
	<script>
		var nalozi = <%-JSON.stringify(nalozi)%>;
	</script>
	<div class="pageWidth">
		<div class="otvoreniNalozi">
			<div class="boxesWrap">
				<div class="box">
					<div class="icon"><img src="https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/sumIcon.png"></div>
					<div class="info">
						<div class="title">Укупно налога</div>
						<div class="text"><span id="ukupno-naloga"></span></div>
					</div>
				</div>
				<div class="box">
					<div class="icon"><img src="https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/iznosIcon.png"></div>
					<div class="info">
						<div class="title">Износ приказаних налога</div>
						<div class="text"><span id="iznos-prikazanih-naloga"></span> дин.</div>
					</div>
				</div>
			</div>
			<div class="lightBlueBox">
				<div class="filters">
					<div class="filter">
						<div class="label">Приказане радне јединице:</div>
						<div class="checkboxes" id="filter-opstine-checkboxes"></div>
						<script>
							for(var i=0;i<radneJedinice.length;i++){
								var checkboxWrapper = document.createElement("DIV");
								checkboxWrapper.setAttribute("class","checkboxWrapper");
									var checkboxWrap = document.createElement("DIV");
									checkboxWrap.setAttribute("class","checkboxWrap");
										var input = document.createElement("INPUT");
										input.setAttribute("type","checkbox");
										input.setAttribute("class","radnaJedinicaCheckbox");
										input.setAttribute("value",radneJedinice[i]);
										input.setAttribute("oninput","generateTable()");
										input.checked = true;
										checkboxWrap.appendChild(input);
									checkboxWrapper.appendChild(checkboxWrap);

									var label = document.createElement("DIV");
									label.setAttribute("class","label");
									label.setAttribute("onclick","checkboxLabelClick(this)")
									label.innerHTML	=	radneJedinice[i];
									checkboxWrapper.appendChild(label);
								document.getElementById("filter-opstine-checkboxes").appendChild(checkboxWrapper);
							}

							function checkboxLabelClick(elem){
								if(elem.parentElement.getElementsByTagName("INPUT")[0].checked){
									elem.parentElement.getElementsByTagName("INPUT")[0].checked = false;
								}else{
									elem.parentElement.getElementsByTagName("INPUT")[0].checked = true;
								}
								generateTable();
							}
						</script>
					</div>
					<div class="filter">
						<div class="label">Филтер Броја Налога:</div>
						<div class="checkboxes">
							<input type="text" id="nalog-filter" oninput="nalogFilter(this)">
						</div>
					</div>
				</div>
				<div class="tableWrap">
					<div class="tableHeader">
						<table>
							<tr>
								<td><div class="value redniBroj">Редни број</div></td>
								<td><div class="value brojNaloga">Број налога</div></td>
								<td><div class="value ikonica"></div></td>
								<td><div class="value brojFakture">Број фактуре</div></td>
								<td><div class="value datumNaloga">Датум налога</div></td>
								<td><div class="value radnaJedinica">Радна јединица</div></td>
								<td><div class="value iznos">Износ</div></td>
								<td><div class="value link">Линк</div></td>
							</tr>
						</table>
					</div>
					<div class="table" id="table"></div>
				</div>
				<div class="inputWrap printButton">
					<div class="button" onclick="printTable()">
						<div class="icon"><img src="https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/printIcon.png"></div>
						<div class="label">Штампај табелу</div>
					</div>
				</div>
			</div>
			<%- include ("partials/printer") -%>
			<script>
				var naloziToShow = [];
				function generateTable(){
					naloziToShow = [];
					var opstineToShow = [];
					var opstineFilter = document.getElementsByClassName("radnaJedinicaCheckbox");
					for(var i=0;i<opstineFilter.length;i++){
						if(opstineFilter[i].checked){
							opstineToShow.push(opstineFilter[i].value);
						}
					}
					for(var i=0;i<nalozi.length;i++){
						//isfiltriraj ovde
						if(opstineToShow.indexOf(nalozi[i].radnaJedinica)>=0){
							var nalogToPush = {};
							nalogToPush.broj = nalozi[i].broj;
							nalogToPush.datum = nalozi[i].datum.datum;
							nalogToPush.radnaJedinica = nalozi[i].radnaJedinica;
							nalogToPush.adresa = nalozi[i].adresa;
							nalogToPush.statusNaloga = nalozi[i].statusNaloga;	
							nalogToPush.brojFakture = nalozi[i].faktura.broj ? nalozi[i].faktura.broj : "";
							nalogToPush.ukupanIznos = nalozi[i].ukupanIznos;
							nalogToPush.vik = "VIK??";
							if(nalozi[i].digitalizacija){
								if(nalozi[i].digitalizacija.stambeno){
									if(nalozi[i].digitalizacija.stambeno.vik){
										nalogToPush.vik = nalozi[i].digitalizacija.stambeno.vik;
									}
								}
							}							
														
							naloziToShow.push(nalogToPush);	
						}
					}

					document.getElementById("table").innerHTML = "";
					var table = document.createElement("TABLE");
					var ukupanIznos = 0;
					for(var i=0;i<naloziToShow.length;i++){
						ukupanIznos = ukupanIznos + parseFloat(naloziToShow[i].ukupanIznos);
						var tr = document.createElement("TR");
							var td = document.createElement("TD");
								var div = document.createElement("DIV");
								div.setAttribute("class","value redniBroj");
								div.innerHTML = eval(i+1)+".";
								td.appendChild(div);
							tr.appendChild(td);
							
							var td = document.createElement("TD");
								var div = document.createElement("DIV");
								div.setAttribute("class","value brojNaloga");
								div.innerHTML = naloziToShow[i].broj;
								td.appendChild(div);
							tr.appendChild(td);
							
							var td = document.createElement("TD");
								var div = document.createElement("DIV");
								div.setAttribute("class","value ikonica");
								if(naloziToShow[i].brojFakture!=""){

									div.innerHTML = "<img src='https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/warningIcon.webp'>";	
								}
								td.appendChild(div);
							tr.appendChild(td);
							
							var td = document.createElement("TD");
								var div = document.createElement("DIV");
								div.setAttribute("class","value brojFakture");
								div.innerHTML = naloziToShow[i].vik;
								td.appendChild(div);
							tr.appendChild(td);
							
							var td = document.createElement("TD");
								var div = document.createElement("DIV");
								div.setAttribute("class","value datumNaloga");
								div.innerHTML = naloziToShow[i].datum;
								td.appendChild(div);
							tr.appendChild(td);
							
							var td = document.createElement("TD");
								var div = document.createElement("DIV");
								div.setAttribute("class","value radnaJedinica");
								div.innerHTML = naloziToShow[i].radnaJedinica;
								td.appendChild(div);
							tr.appendChild(td);
							
							var td = document.createElement("TD");
								var div = document.createElement("DIV");
								div.setAttribute("class","value iznos");
								div.innerHTML = brojSaRazmacima(naloziToShow[i].ukupanIznos);
								td.appendChild(div);
							tr.appendChild(td);
							
							var td = document.createElement("TD");
								var div = document.createElement("DIV");
								div.setAttribute("class","value link");
								div.innerHTML = "<a href='/nalog/"+naloziToShow[i].broj+"' target='_blank'>Види налог</a>";
								td.appendChild(div);
							tr.appendChild(td);

						table.appendChild(tr);
					}
					document.getElementById("table").appendChild(table);
					document.getElementById("ukupno-naloga").innerHTML = naloziToShow.length;
					document.getElementById("iznos-prikazanih-naloga").innerHTML = brojSaRazmacima(ukupanIznos);
				}

				generateTable();

				function nalogFilter(elem){
					naloziToShow = [];
					for(var i=0;i<nalozi.length;i++){
						//isfiltriraj ovde
						if(nalozi[i].broj.includes(elem.value)){
							var nalogToPush = {};
							nalogToPush.broj = nalozi[i].broj;
							nalogToPush.datum = nalozi[i].datum.datum;
							nalogToPush.radnaJedinica = nalozi[i].radnaJedinica;
							nalogToPush.adresa = nalozi[i].adresa;
							nalogToPush.statusNaloga = nalozi[i].statusNaloga;	
							nalogToPush.brojFakture = nalozi[i].faktura.broj ? nalozi[i].faktura.broj : "";
							nalogToPush.ukupanIznos = nalozi[i].ukupanIznos;							
							naloziToShow.push(nalogToPush);	
						}
						
					}

					document.getElementById("table").innerHTML = "";
					var table = document.createElement("TABLE");
					var ukupanIznos = 0;
					for(var i=0;i<naloziToShow.length;i++){
						ukupanIznos = ukupanIznos + parseFloat(naloziToShow[i].ukupanIznos);
						var tr = document.createElement("TR");
							var td = document.createElement("TD");
								var div = document.createElement("DIV");
								div.setAttribute("class","value redniBroj");
								div.innerHTML = eval(i+1)+".";
								td.appendChild(div);
							tr.appendChild(td);
							
							var td = document.createElement("TD");
								var div = document.createElement("DIV");
								div.setAttribute("class","value brojNaloga");
								div.innerHTML = naloziToShow[i].broj;
								td.appendChild(div);
							tr.appendChild(td);
							
							var td = document.createElement("TD");
								var div = document.createElement("DIV");
								div.setAttribute("class","value ikonica");
								if(naloziToShow[i].brojFakture!=""){

									div.innerHTML = "<img src='https://poslovi-grada-2024.fra1.digitaloceanspaces.com/images/warningIcon.webp'>";	
								}
								td.appendChild(div);
							tr.appendChild(td);
							
							var td = document.createElement("TD");
								var div = document.createElement("DIV");
								div.setAttribute("class","value brojFakture");
								div.innerHTML = naloziToShow[i].brojFakture;
								td.appendChild(div);
							tr.appendChild(td);
							
							var td = document.createElement("TD");
								var div = document.createElement("DIV");
								div.setAttribute("class","value datumNaloga");
								div.innerHTML = naloziToShow[i].datum;
								td.appendChild(div);
							tr.appendChild(td);
							
							var td = document.createElement("TD");
								var div = document.createElement("DIV");
								div.setAttribute("class","value radnaJedinica");
								div.innerHTML = naloziToShow[i].radnaJedinica;
								td.appendChild(div);
							tr.appendChild(td);
							
							var td = document.createElement("TD");
								var div = document.createElement("DIV");
								div.setAttribute("class","value iznos");
								div.innerHTML = brojSaRazmacima(naloziToShow[i].ukupanIznos);
								td.appendChild(div);
							tr.appendChild(td);
							
							var td = document.createElement("TD");
								var div = document.createElement("DIV");
								div.setAttribute("class","value link");
								div.innerHTML = "<a href='/nalog/"+naloziToShow[i].broj+"' target='_blank'>Види налог</a>";
								td.appendChild(div);
							tr.appendChild(td);

						table.appendChild(tr);
					}
					document.getElementById("table").appendChild(table);
					document.getElementById("ukupno-naloga").innerHTML = naloziToShow.length;
					document.getElementById("iznos-prikazanih-naloga").innerHTML = brojSaRazmacima(ukupanIznos);
				}

				function printTable(){
					doc.setFontSize(10);
				    doc.setFontType("bold");
				    var xOffset = 10;
				    doc.text("Br.",xOffset,yPos);
				    xOffset = xOffset + 7;
				    doc.text("Broj Naloga",xOffset,yPos);
				    xOffset = xOffset + 25;
				    doc.text("Datum Naloga",xOffset,yPos);
				    xOffset = xOffset + 25;
				    doc.text("Opstina",xOffset,yPos);
				    xOffset = xOffset + 30;
				    doc.text("Iznos",xOffset,yPos);
				    xOffset = xOffset + 50;
				    doc.text("Status",xOffset,yPos);
				    yPos= yPos+7;
				    doc.setFontType("normal");
				    for(var i=0;i<naloziToShow.length;i++){
				    	xOffset = 10;
					    doc.text(eval(i+1).toString()+".",xOffset,yPos);
					    xOffset = xOffset + 7;
					    doc.text(naloziToShow[i].broj,xOffset,yPos);
					    xOffset = xOffset + 25;
					    doc.text(naloziToShow[i].datum.datum,xOffset,yPos);
					    xOffset = xOffset + 25;
					    doc.text(naloziToShow[i].radnaJedinica,xOffset,yPos);
					    xOffset = xOffset + 30;
					    doc.text(brojSaRazmacima(naloziToShow[i].ukupanIznos),xOffset,yPos);
					    xOffset = xOffset + 50;
					    doc.text(naloziToShow[i].statusNaloga,xOffset,yPos);
					    yPos= yPos+7;
					    if(yPos>=285){
					    	doc.addPage();
					    	yPos = 12;
					    	xOffset = 10;

				    		doc.setFontType("bold");
						    doc.text("Br.",xOffset,yPos);
						    xOffset = xOffset + 7;
						    doc.text("Broj Naloga",xOffset,yPos);
						    xOffset = xOffset + 25;
						    doc.text("Datum Naloga",xOffset,yPos);
						    xOffset = xOffset + 25;
						    doc.text("Opstina",xOffset,yPos);
						    xOffset = xOffset + 30;
						    doc.text("Adresa",xOffset,yPos);
						    xOffset = xOffset + 50;
						    doc.text("Status",xOffset,yPos);
						    yPos = yPos + 7;
				    		doc.setFontType("normal");
					    }
				    }

			        window.open(doc.output('bloburl'), '_blank');
				}
			</script>
		</div>
	</div>
<%- include ("partials/footer") -%>
