<%- include ("partials/header") -%>
	<script>
		var nalozi = <%-JSON.stringify(nalozi)%>;
		console.log("AAAA")
	</script>
	<div class="pageWidth stanjeNalogaPoOpstinama">
		<div class="wrap">
			<h1>УКУПНО:</h1>
			<div class="stats" data-id="ukupno"></div>	
		</div>
		
		
		<script>
			function generateStatElems(elem){
				var wrap = document.createElement("DIV");
				wrap.setAttribute("class","wrapper")
				for(var i=0;i<statusi.length;i++){
					var inlines = document.createElement("DIV");
					inlines.setAttribute("class","inlines");
						var inline = document.createElement("DIV");
						inline.setAttribute("class","inline");
						inline.innerHTML = statusi[i].split(".")[1];
						inlines.appendChild(inline);
						
						var inline = document.createElement("DIV");
						inline.setAttribute("class","inline stat");
						inline.setAttribute("data-stattype",statusi[i]);
						inline.innerHTML = "0";
						inlines.appendChild(inline);
					wrap.appendChild(inlines);
				}
				elem.appendChild(wrap)
			}



			for(var i=0;i<radneJedinice.length;i++){
				var wrapper = document.createElement("DIV");
				wrapper.setAttribute("class","wrap")
					var h1 = document.createElement("H1");
					h1.innerHTML = radneJedinice[i]+": ";
					wrapper.appendChild(h1);

					var stats = document.createElement("DIV");
					stats.setAttribute("class","stats");
					stats.setAttribute("data-id",radneJedinice[i]);
					wrapper.appendChild(stats);
				document.getElementsByClassName("stanjeNalogaPoOpstinama")[0].appendChild(wrapper);
				

				
			}
			//var statusi = ["Primljen","Zakazan","Radovi u toku","Potrebna WOMA","Zagušenje","Stambeno koci","Stanari koče","Zamena","Crpljenje","Dezinfekcija","Kopanje","Finalizacija","Betonaža","Asfalt","Bekaton","Zakazana finalizacija","Preventivno čišćenje","Završeno","Vraćen"];

			var statusi = [];
			for(var i=0;i<nalozi.length;i++){
				/*if(nalozi[i].statusNaloga=="" || nalozi[i].statusNaloga=="Primljen" || nalozi[i].statusNaloga=="Radovi u toku" || nalozi[i].statusNaloga=="Dodeljen majstoru"){
					nalozi[i].statusNaloga = "10.Nezapočeto";
				}else */if(nalozi[i].statusNaloga=="Primljen"){
					nalozi[i].statusNaloga = "1.Primljen";
				}else if(nalozi[i].statusNaloga=="Radovi u toku"){
					nalozi[i].statusNaloga = "2.Radovi u toku";
				}else if(nalozi[i].statusNaloga=="Dodeljen majstoru"){
					nalozi[i].statusNaloga = "3.Dodeljen majstoru";
				}else if(nalozi[i].statusNaloga=="Vraćen"){
					nalozi[i].statusNaloga = "5.Vraćen";
				}else if(nalozi[i].statusNaloga=="Zamena"){
					nalozi[i].statusNaloga = "20.Zamena";
				}else if(nalozi[i].statusNaloga=="Zagušenje"){
					nalozi[i].statusNaloga = "30.Odgušenje";
				}else if(nalozi[i].statusNaloga=="Crpljenje"){
					nalozi[i].statusNaloga = "40.Crpljenje";
				}else if(nalozi[i].statusNaloga=="Masinsko kopanje"){
					nalozi[i].statusNaloga = "50.Mašinsko kopanje";
				}else if(nalozi[i].statusNaloga=="Rucno kopanje"){
					nalozi[i].statusNaloga = "60.Ručno kopanje";
				}else if(nalozi[i].statusNaloga=="Kopanje"){
					nalozi[i].statusNaloga = "70.Kopanje";
				}else if(nalozi[i].statusNaloga=="Finalizacija"){
					nalozi[i].statusNaloga = "80.Finalizacija";
				}else if(nalozi[i].statusNaloga=="Betonaža"){
					nalozi[i].statusNaloga = "90.Betonaža";
				}else if(nalozi[i].statusNaloga=="Asfalt"){
					nalozi[i].statusNaloga = "100.Asfalt";
				}else if(nalozi[i].statusNaloga=="Bekaton"){
					nalozi[i].statusNaloga = "110.Bekaton";
				}else if(nalozi[i].statusNaloga=="Potrebna WOMA"){
					nalozi[i].statusNaloga = "120.Woma";
				}else if(nalozi[i].statusNaloga=="Kombinovano"){
					nalozi[i].statusNaloga = "130.Kombinovano";
				}else{
					nalozi[i].statusNaloga = "999."+nalozi[i].statusNaloga;
				}


				if(statusi.indexOf(nalozi[i].statusNaloga)<0){
					statusi.push(nalozi[i].statusNaloga)
				}
			}

			statusi.sort((a, b) => a.localeCompare(b, undefined, { numeric: true }));

			var statJson = [];
			var statElems = document.getElementsByClassName("stats");
			for(var i=0;i<statElems.length;i++){
				generateStatElems(statElems[i])
				var json = {};
				json.name = statElems[i].dataset.id;
				json.stats = [];
				for(var j=0;j<statusi.length;j++){
					var json2 = {};
					json2.status = statusi[j];
					json2.nalozi = 0;
					json.stats.push(json2)
				}
				statJson.push(json)
			}

			for(var i=0;i<nalozi.length;i++){
				for(var j=0;j<statJson.length;j++){
					if(statJson[j].name=="ukupno"){
						for(var k=0;k<statJson[j].stats.length;k++){
							if(statJson[j].stats[k].status==nalozi[i].statusNaloga){
								statJson[j].stats[k].nalozi++;
							}
						}
					}

					if(statJson[j].name==nalozi[i].radnaJedinica){
						for(var k=0;k<statJson[j].stats.length;k++){
							if(statJson[j].stats[k].status==nalozi[i].statusNaloga){
								statJson[j].stats[k].nalozi++;
							}
						}
					}
				}
			}

			for(var i=0;i<statJson.length;i++){
				for(var j=0;j<statElems.length;j++){
					if(statJson[i].name==statElems[j].dataset.id){
						for(var k=0;k<statJson[i].stats.length;k++){
							var subStatElems = statElems[j].getElementsByClassName("stat");
							for(var l=0;l<subStatElems.length;l++){
								if(subStatElems[l].dataset.stattype==statJson[i].stats[k].status){
									subStatElems[l].innerHTML = statJson[i].stats[k].nalozi;
								}
							}
						}
					}
				}
			}



			

		</script>
	</div>
<%- include ("partials/footer") -%>