<%- include ("partials/header") -%>
	<script>
		var nalozi = <%-JSON.stringify(nalozi)%>;
	</script>
	<div class="pageWidth stanjeNalogaPoOpstinama">
		<div class="wrap">
			<h1>УКУПНО:</h1>
			<div class="stats" data-id="ukupno"></div>	
		</div>
		
		
		<script>
			function generateStatElems(elem){
				var wrap = document.createElement("DIV");
				wrap.setAttribute("class","wrapper")
				for(var i=0;i<statusi.length;i++){
					var inlines = document.createElement("DIV");
					inlines.setAttribute("class","inlines");
					inlines.setAttribute("data-status",statusi[i]);
					inlines.setAttribute("onclick","showNalozi(this)");
					inlines.style.cursor = "pointer";
						var inline = document.createElement("DIV");
						inline.setAttribute("class","inline");
						inline.innerHTML = statusi[i].split(".")[1];
						inlines.appendChild(inline);
						
						var inline = document.createElement("DIV");
						inline.setAttribute("class","inline stat");
						inline.setAttribute("data-stattype",statusi[i]);
						inline.innerHTML = "0";
						inlines.appendChild(inline);
					wrap.appendChild(inlines);
				}
				elem.appendChild(wrap)
			}



			for(var i=0;i<radneJedinice.length;i++){
				var wrapper = document.createElement("DIV");
				wrapper.setAttribute("class","wrap")
					var h1 = document.createElement("H1");
					h1.innerHTML = radneJedinice[i]+": ";
					wrapper.appendChild(h1);

					var stats = document.createElement("DIV");
					stats.setAttribute("class","stats");
					stats.setAttribute("data-id",radneJedinice[i]);
					wrapper.appendChild(stats);
				document.getElementsByClassName("stanjeNalogaPoOpstinama")[0].appendChild(wrapper);
				

				
			}
			//var statusi = ["Primljen","Zakazan","Radovi u toku","Potrebna WOMA","Zagušenje","Stambeno koci","Stanari koče","Zamena","Crpljenje","Dezinfekcija","Kopanje","Finalizacija","Betonaža","Asfalt","Bekaton","Zakazana finalizacija","Preventivno čišćenje","Završeno","Vraćen"];

			var statusi = [];
			for(var i=0;i<nalozi.length;i++){
				/*if(nalozi[i].statusNaloga=="" || nalozi[i].statusNaloga=="Primljen" || nalozi[i].statusNaloga=="Radovi u toku" || nalozi[i].statusNaloga=="Dodeljen majstoru"){
					nalozi[i].statusNaloga = "10.Nezapočeto";
				}else */if(nalozi[i].statusNaloga=="Primljen"){
					nalozi[i].statusNaloga = "1.Primljen";
				}else if(nalozi[i].statusNaloga=="Radovi u toku"){
					nalozi[i].statusNaloga = "2.Radovi u toku";
				}else if(nalozi[i].statusNaloga=="Dodeljen majstoru"){
					nalozi[i].statusNaloga = "3.Dodeljen majstoru";
				}else if(nalozi[i].statusNaloga=="Vraćen"){
					nalozi[i].statusNaloga = "5.Vraćen";
				}else if(nalozi[i].statusNaloga=="Zamena"){
					nalozi[i].statusNaloga = "20.Zamena";
				}else if(nalozi[i].statusNaloga=="Zagušenje"){
					nalozi[i].statusNaloga = "30.Odgušenje";
				}else if(nalozi[i].statusNaloga=="Crpljenje"){
					nalozi[i].statusNaloga = "40.Crpljenje";
				}else if(nalozi[i].statusNaloga=="Masinsko kopanje"){
					nalozi[i].statusNaloga = "50.Mašinsko kopanje";
				}else if(nalozi[i].statusNaloga=="Rucno kopanje"){
					nalozi[i].statusNaloga = "60.Ručno kopanje";
				}else if(nalozi[i].statusNaloga=="Kopanje"){
					nalozi[i].statusNaloga = "70.Kopanje";
				}else if(nalozi[i].statusNaloga=="Finalizacija"){
					nalozi[i].statusNaloga = "80.Finalizacija";
				}else if(nalozi[i].statusNaloga=="Betonaža"){
					nalozi[i].statusNaloga = "90.Betonaža";
				}else if(nalozi[i].statusNaloga=="Asfalt"){
					nalozi[i].statusNaloga = "100.Asfalt";
				}else if(nalozi[i].statusNaloga=="Bekaton"){
					nalozi[i].statusNaloga = "110.Bekaton";
				}else if(nalozi[i].statusNaloga=="Potrebna WOMA"){
					nalozi[i].statusNaloga = "120.Woma";
				}else if(nalozi[i].statusNaloga=="Kombinovano"){
					nalozi[i].statusNaloga = "130.Kombinovano";
				}else{
					nalozi[i].statusNaloga = "999."+nalozi[i].statusNaloga;
				}


				if(statusi.indexOf(nalozi[i].statusNaloga)<0){
					statusi.push(nalozi[i].statusNaloga)
				}
			}

			statusi.sort((a, b) => a.localeCompare(b, undefined, { numeric: true }));

			var statJson = [];
			var statElems = document.getElementsByClassName("stats");
			for(var i=0;i<statElems.length;i++){
				generateStatElems(statElems[i])
				var json = {};
				json.name = statElems[i].dataset.id;
				json.stats = [];
				for(var j=0;j<statusi.length;j++){
					var json2 = {};
					json2.status = statusi[j];
					json2.nalozi = 0;
					json.stats.push(json2)
				}
				statJson.push(json)
			}

			for(var i=0;i<nalozi.length;i++){
				for(var j=0;j<statJson.length;j++){
					if(statJson[j].name=="ukupno"){
						for(var k=0;k<statJson[j].stats.length;k++){
							if(statJson[j].stats[k].status==nalozi[i].statusNaloga){
								statJson[j].stats[k].nalozi++;
							}
						}
					}

					if(statJson[j].name==nalozi[i].radnaJedinica){
						for(var k=0;k<statJson[j].stats.length;k++){
							if(statJson[j].stats[k].status==nalozi[i].statusNaloga){
								statJson[j].stats[k].nalozi++;
							}
						}
					}
				}
			}

			for(var i=0;i<statJson.length;i++){
				for(var j=0;j<statElems.length;j++){
					if(statJson[i].name==statElems[j].dataset.id){
						for(var k=0;k<statJson[i].stats.length;k++){
							var subStatElems = statElems[j].getElementsByClassName("stat");
							for(var l=0;l<subStatElems.length;l++){
								if(subStatElems[l].dataset.stattype==statJson[i].stats[k].status){
									subStatElems[l].innerHTML = statJson[i].stats[k].nalozi;

								}
							}
						}
					}
				}
			}

			function showNalozi(elem){
				var statusToShow = elem.dataset.status;
				var opstina = elem.parentElement.parentElement.dataset.id;
				console.log(statusToShow)
				console.log(opstina)
				var naloziToShow = [];
				for(var i=0;i<nalozi.length;i++){
					if(nalozi[i].statusNaloga==statusToShow && nalozi[i].radnaJedinica==opstina){
						naloziToShow.push(nalozi[i])
					}else if(nalozi[i].statusNaloga==statusToShow && opstina=="ukupno"){
						naloziToShow.push(nalozi[i])
					}
				}
				document.getElementById("table").innerHTML = "";
				var tr = document.createElement("TR");
					var td = document.createElement("TD");
					td.setAttribute("class","redniBroj");
						var value = document.createElement("DIV");
						value.setAttribute("class","value");
						value.innerHTML = "";
						td.appendChild(value);
					tr.appendChild(td);

					var td = document.createElement("TD");
					td.setAttribute("class","brojNaloga");
						var value = document.createElement("DIV");
						value.setAttribute("class","value");
						value.innerHTML = "Broj naloga";
						td.appendChild(value);
					tr.appendChild(td);

					var td = document.createElement("TD");
					td.setAttribute("class","datumNaloga");
						var value = document.createElement("DIV");
						value.setAttribute("class","value");
						value.innerHTML = "Datum otvaranja";
						td.appendChild(value);
					tr.appendChild(td);

					var td = document.createElement("TD");
					td.setAttribute("class","datumPrijema");
						var value = document.createElement("DIV");
						value.setAttribute("class","value");
						value.innerHTML = "Datum prijema";
						td.appendChild(value);
					tr.appendChild(td);

					var td = document.createElement("TD");
					td.setAttribute("class","radnaJedinica");
						var value = document.createElement("DIV");
						value.setAttribute("class","value");
						value.innerHTML = "Radna jedinica";
						td.appendChild(value);
					tr.appendChild(td);

					var td = document.createElement("TD");
					td.setAttribute("class","adresa");
						var value = document.createElement("DIV");
						value.setAttribute("class","value");
						value.innerHTML = "Adresa";
						td.appendChild(value);
					tr.appendChild(td);

					var td = document.createElement("TD");
					td.setAttribute("class","status");
						var value = document.createElement("DIV");
						value.setAttribute("class","value");
						value.innerHTML = "Status";
						td.appendChild(value);
					tr.appendChild(td);

					var td = document.createElement("TD");
					td.setAttribute("class","opis");
						var value = document.createElement("DIV");
						value.setAttribute("class","value");
						value.innerHTML = "Opis";
						td.appendChild(value);
					tr.appendChild(td);
				document.getElementById("table").appendChild(tr);
			
				for(var i=0;i<naloziToShow.length;i++){
					nalog = naloziToShow[i];
					nalog.datumOtvaranjaNaloga = new Date(nalog.digitalizacija.datetime);
					if(nalog.digitalizacija){
						if(nalog.digitalizacija.stambeno){
							nalog.datumOtvaranjaNaloga = new Date(nalog.digitalizacija.stambeno.datum);
							nalog.datumOtvaranjaNaloga.setHours(Number(nalog.digitalizacija.stambeno.vreme.split(":")[0]));
							nalog.datumOtvaranjaNaloga.setMinutes(Number(nalog.digitalizacija.stambeno.vreme.split(":")[1]));
						}
					}
					
					var tr = document.createElement("TR");
					tr.setAttribute("onclick","this.style.backgroundColor='rgba(32,51,100,0.2)'")
					tr.setAttribute("data-datumotvaranja",nalog.datumOtvaranjaNaloga);
					tr.setAttribute("data-datumprijema",nalog.digitalizacija.datetime);

						var td = document.createElement("TD");
						td.setAttribute("class","redniBroj");
							var value = document.createElement("DIV");
							value.setAttribute("class","value");
							value.innerHTML = "<div class=\"value\">"+eval(i+1)+".</div>";
							td.appendChild(value);
						tr.appendChild(td);

						var td = document.createElement("TD");
						td.setAttribute("class","brojNaloga");
							var value = document.createElement("DIV");
							value.setAttribute("class","value");
							value.innerHTML = "<div class=\"value\"><a style=\"display:inline-block;vertical-align:middle;width:80px\" target=\"_blank\" href=\"/nalog/"+nalog.broj+"\">"+nalog.broj+"</a><div style=\"display:inline-block;vertical-align:middle;cursor:pointer;\" data-broj=\""+nalog.broj+"\" onclick='copy(this)'>📋</div></div>";
							td.appendChild(value);
						tr.appendChild(td);

						var td = document.createElement("TD");
						td.setAttribute("class","datumNaloga");
							var value = document.createElement("DIV");
							value.setAttribute("class","value");
							value.innerHTML = getDateAsStringForDisplay(nalog.datumOtvaranjaNaloga) + " <i>"+getTimestamp(nalog.datumOtvaranjaNaloga)+"</i>";
							td.appendChild(value);
						tr.appendChild(td);

						var td = document.createElement("TD");
						td.setAttribute("class","datumNaloga");
							var value = document.createElement("DIV");
							value.setAttribute("class","value");
							value.innerHTML = getDateAsStringForDisplay(new Date(nalog.digitalizacija.datetime)) + " <i>"+getTimestamp(new Date(nalog.digitalizacija.datetime))+"</i>";
							td.appendChild(value);
						tr.appendChild(td);

						var td = document.createElement("TD");
						td.setAttribute("class","radnaJedinica");
							var value = document.createElement("DIV");
							value.setAttribute("class","value");
							value.innerHTML = nalog.radnaJedinica;
							td.appendChild(value);
						tr.appendChild(td);

						var td = document.createElement("TD");
						td.setAttribute("class","adresa");
							var value = document.createElement("DIV");
							value.setAttribute("class","value");
							value.innerHTML = nalog.adresa;
							td.appendChild(value);
						tr.appendChild(td);

						var td = document.createElement("TD");
						td.setAttribute("class","status");
							var value = document.createElement("DIV");
							value.setAttribute("class","value");
							value.innerHTML = nalog.statusNaloga.split(".")[1];
							td.appendChild(value);
						tr.appendChild(td);

						var td = document.createElement("TD");
						td.setAttribute("class","opis");
							var value = document.createElement("DIV");
							value.setAttribute("class","value");
							value.innerHTML = nalog.opis;
							td.appendChild(value);
						tr.appendChild(td);
					document.getElementById("table").appendChild(tr);
				}
				document.getElementById("nalozi-lightbox").style.display = "block"
			}

			function copy(el) {
				const broj = el.getAttribute("data-broj");

				// Use Clipboard API
				navigator.clipboard.writeText(broj).then(() => {
					console.log("Copied:", broj);
					// Optional: give feedback
					el.innerText = "✅";
					setTimeout(() => el.innerText = "📋", 1500);
				}).catch(err => {
					console.error("Failed to copy:", err);
				});
			}

			function filterTable(){
				if(document.getElementById("od").value && document.getElementById("do").value){
					var odDatuma = new Date(document.getElementById("od").value);
					odDatuma.setHours(0)
					odDatuma.setMinutes(1)
					var doDatuma = new Date(document.getElementById("do").value);
					doDatuma.setHours(23)
					doDatuma.setMinutes(59)

					var tableRows = document.getElementById("table").getElementsByTagName("TR");
					for(var i=1;i<tableRows.length;i++){
						tableRows[i].style.display="none";
						console.log(odDatuma.getTime())
						if(Number(tableRows[i].dataset.datumprijema)>=odDatuma.getTime() && Number(tableRows[i].dataset.datumprijema)<=doDatuma.getTime()){
							tableRows[i].style.display="table-row"
						}
					}
				}
			}

		</script>
		<div class="naloziTableLightbox" id="nalozi-lightbox" style="display:none" onclick="this.style.display='none'">
			<div class="tableWrap" onclick="event.stopPropagation()">
				<div class="filters">
					<div class="filter">
						Od datuma prijema <input type="date" id="od" oninput="filterTable()"> do <input type="date" id="do" oninput="filterTable()">
					</div>
				</div>
				<div class="table">
					<table id="table"></table>
				</div>
			</div>
		</div>
	</div>
	
<%- include ("partials/footer") -%>