<%- include ("partials/header") -%>
	<script>
		var nalozi = <%-JSON.stringify(nalozi)%>;
	</script>
	<div class="pageWidth">
		<div class="strukturaNaloga"></div>
			
		</div>
	</div>
<%- include ("partials/footer") -%>