<%- include ("partials/header") -%>
	<div class="pageWidth">
		<div class="majstorPravilnik">
			<h1>Pravilnik o radu</h1>
			<div class="section">
				<h2>Radno vreme</h2>
				<p>Radno vreme je od ponedeljka do subote.</p>
				<p>Radni dan počinje u 08:00 č na zadatoj adresi sa odgovarajućim materijalom i alatom i završava se u 17:00 č. Radno vreme može biti i duže od 17:00 č ukoliko se počne sa radom na RN i svaki dodatni sat se vodi u evidenciji radi skupljanja 6 sati koji se konvertuju u jedan slobodan dan.</p>
				<p>Pauza za obrok traje 30 minuta.</p>
			</div>
			<div class="section">
				<h2>PLATA I OBRAČUN ODSUSTVA</h2>
				<p>Plata se obračunava na mesečnom nivou po sistemu bodovanja</p>
				<p>Ako zaposleni ne dođe na posao bez opravdanja, od plate mu se odbija iznos proporcionalan broju dana odsustva</p>
				<p>Ako zaposleni izostane 1 dan, od plate se oduzima 1/25 ukupnog iznosa plate (jer mesec ima 25 radnih dana uključujići i subote)</p>
				<p>Dogovorena plata važi za ukupan fond ostavernog mesečnog učinka. Ukoliko se nedeljna norma ispuni subota je neradna.</p>
				<p>U slučaju da se subota podudari sa državnim praznikom dnevnica se uvećava za 100%</p>
				<p>Ako zaposleni obavesti poslodavca o bolesti i poslodavac proceni da je informacija tačna od 1 do 3 dana bolovanja biće plaćeni u punom iznosu kao da je te dane radio</p>
				<p>Ako zaposleni  obavesti poslodavca o bolesti, i odsustvuje duže od 3 dana, odsustvo se ne odbija od plate, i isplaćuje se u visini od 65% iznosa dnevnice.</p>
				<p>Svaki zaposleni ima pravo na dane godišnjeg odmora koje mora najaviti minimum 30 dana ranije a sve to mora predhodno usaglasiti sa direktno nadređenim, tj. šefom TE. Zaposleni ima pravo na godišnji odmor u trajanju od  21 radni dan. Nakon svakog odrađenog meseca, zaposlenom sleduje 1.75 dana odmora. Pravo na korišćenje  odmora stiče se nakon rada od 6 meseci u firmi ne računajući probni rad. Zahtev za odmor se podnosi isključivo pismenim putem (veza sa dokumentom ZAHTEV ZA GODIŠNJI ODMOR)</p>
				<p>Svaki zaposleni ima pravo na slobodne dane u sledećim situacijama:</p>
				<ul>
					<li>za sklapanje braka zaposlenom sleduje od 1 do 5 radnih dana (odluku donosi poslodavac)</li>
					<li>zaposlenom muškarcu za rođenje deteta sleduje od 1 do 5 radnih dana</li>
					<li>za slučaj teže bolesti bračnog druga, deteta, brata, sestre, roditelja, usvojioca, usvojenika i staratelja od 1 do 5 radnih dana</li>
					<li>za slučaj smrti bračnog druga, deteta, brata, sestre, roditelja, usvojioca, usvojenika i staratelja najmanje 5 radnih dana</li>
					<li>za dan krsne slave 1 radni dan</li>
				</ul>
			</div>
			<div class="section">
				<h2>KAŠNJENJE</h2>
				<p>Poslodavac evidentira prisustvo zaposlenih kroz redovno jutarnje čekiranje na aparatu i karnete koje vode šefovi TE. Sistem elektronskog evidentiranja prisustva (elektronska evidencija radnog vremena) je integrisan sa informacionim sistemom Poslova grada i automatski obračunava kazne za kašnjenje. Izuzetak od automatskog evidentiranja kašnjenja odobravaju nadređeni (šef TE) u Informacionom sistemu.</p>
				<p>Dolazak je od 07:00 do 7:30. (kašnjenje od 7:30 do 8:00 se <b>oduzima 2 boda</b>, od 08:00 do 08:30 se <b>oduzima 4 boda</b>, nakon 08:30 se <b>oduzima 8 boda</b>)</p>
				<p>Ponovljena kašnjenja (više od 5 puta mesečno) mogu dovesti do ozbiljnijih sankcija (opomena, umanjenje plate, otkaz)</p>
			</div>
			<div class="section">
				<h2>DISCIPLINSKE MERE</h2>
				<p>Neopravdano odsustvo duže od 3 dana može dovesti do opomene ili otkaza.</p>
				<p>Ako zaposleni redovno kasni ili ne ispunjava svoje obaveze, može biti novčano sankcionisan ili premešten na niže plaćenu poziciju.</p>
				<p>Zaposleni koji nema deo uniforme, ne može napustiti pogon i u obavezi je da kupi od magacionera deo uniforme koji nedostaje i to: pantalone - 10 bodova, bluza - 10 bodova, majica - 4 boda, prsluk - 7 boda, fluo prsluk - 6 boda. </p>
			</div>
			<div class="section">
				<h2>OSTALO</h2>
				<p>U slučaju potrebe za hitnim intervencijama van radnog vremena i prekovremeni rad nadoknađuje se slobodnim danom. Sabiraju se prekovremeni sati i na osnovu njih se određuje slobodan dan.</p>
				<p>Sa sakupljenih 6 prekovremenih, opravdanih, radnih sati stiče se pravo za Slobodan dan a prekovremeni sati moraju biti potvđeni od strane šefova terenskih ekipa.</p>
				<p>Svi zaposleni su dužni da poštuju radne obaveze i profesionalno se ponašaju prema kolegama i klijentima. </p>
				<p>Svi zaposleni moraju biti uniformisani i postovati kodeks firme. Za nepoštovanje ove odluke zaposleni će direkto dobijati opomenu. </p>
				<p>Strogo je zabranjeno da zaposleni  radi isti posao privatno kod klijenata firme dok su zaposleni. </p>
				<p>Svi zaposleni su u obavezi  čuvanja poslovnih tajni i internih informacija, uz potencijalne posledice za odavanje poverljivih podataka. </p>
				<p>Svi zaposleni su obavezni da  informacije koje su bitne za firmu i posao a stekli su ih tokom radnog vremena podele sa predpostavljenima. U slučaju skrivanja bitnih informacija to  može dovesti do ozbiljnijih sankcija (opomena, umanjenje plate, otkaz) (odluku donosi poslodavac) </p>
				<p>Zaposleni je u obavezi nadoknaditi štetu firmi ako su namerno ili krajnjom nepažnjom prouzrokovali finansijski gubitak (oštećenje alata, nemar prema opremi, krađa materijala itd.). </p>
				<p>Vozilo i alat koji duži određeni zaposleni može koristiti samo on ako drugačije ne odluče nadležni. Ako auto koristi drugi kolega, magacioner ili šef TE je obavezan izvršiti popis elektro alata i ostalog alata uz obavezno fotografisanje. </p>
			</div>
			
		</div>
	</div>
<%- include ("partials/footer") -%>